<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>  
        <ul>  
        <li>  
        <a href="{{url_for('home_page')}}">homepage </a>  
        </ul>  
        </nav>
    <h1><b>The URL is already shortened!</b></h1>
    {% block body %}
        <h4><a href="{{ existing_url }}">{{ existing_url }}</a></h4>
    {% endblock %}

</html>